
.bulle_aide{position: absolute;left: 0;top: 0;z-index: 9999999;pointer-events: none;width:auto;max-width:400px;overflow: visible;border-radius:5px;border:1px solid #cccccc;background: #ededed;color: #666666;font-family: Poppins,Arial, sans-serif;font-size: 15px;line-height:1.4;padding:8px 10px;-webkit-box-shadow: 1px 1px 6px #555;box-shadow: 1px 1px 6px #555;opacity: 1;-webkit-transition-property: opacity;transition-property: opacity;}

#simulateur-achylles{text-align:left;margin:0 auto;padding:16px 0;max-width: 1280px;}

#simulateur-achylles .intro_txt,#simulateur-achylles .footer_txt{color:#3c3c3c}

#simulateur-achylles .intro_txt{margin:0 0 10px 0}
#simulateur-achylles .footer_txt{margin:18px 0 0 0}


#simulateur-achylles h1{font-size:28px;font-weight:700;margin:16px 0 20px 0;}

#simulateur-achylles .intro_txt h2,
#simulateur-achylles .footer_txt h2{font-size:20px;font-weight:700;margin:0 0 25px 0;text-align:left;color: #326580;}

#simulateur-achylles .intro_txt p,
#simulateur-achylles .footer_txt p{font-size:16px;line-height:1.75;margin-bottom: 2.5rem;}
#simulateur-achylles .note{background-color:#FFF}
#simulateur-achylles .note p{margin-bottom:0}
#simulateur-achylles .cta_content p{margin-bottom:10px}


.footer_txt table tr:nth-child(2n+1){
    background: #FFF;
}

#simulateur-achylles #credit_infine_1 tr,#simulateur-achylles #credit_infine_2 tr{background-color:#FFF;}
#simulateur-achylles #credit_infine_1 td,#simulateur-achylles #credit_infine_2 td{padding:0}



#simulateur-achylles #credit_infine_1,#simulateur-achylles #credit_infine_2{border:none;text-align: initial;line-height: 1;width: initial;}
#simulateur-achylles #credit_infine_1 table,#simulateur-achylles #credit_infine_2 table{border:none;text-align: initial;line-height: 1;width: initial;}

/*#simulateur-achylles .intro_txt p{margin:25px 0 0 0}
#simulateur-achylles .footer_txt p{margin:25px 0 0 0}*/

#simulateur-achylles #onglet_simulations{padding:0 0 12px 0;font-size:0;overflow: hidden;}
#simulateur-achylles .onglet_simulation{cursor:pointer;font-size:16px;vertical-align:top;border:2px solid #FFF;margin:0 12px 0 0;width:300px;height:90px;display:inline-block;text-decoration:none;color:#326580;line-height:1.3;letter-spacing: normal; word-spacing: normal; text-rendering: auto;}
#simulateur-achylles .visu_off{background-color:#f7f7f7;}
#simulateur-achylles .visu_on{background-color:#FFF;}
#simulateur-achylles .ajout{background-color:#f1f2f7;color:#3a3a3a}
#simulateur-achylles .supp{font-size:16px;margin:0;color:#326580;padding:5px 8px;float:right}
#simulateur-achylles .supp:hover{color:#000000;}
#simulateur-achylles .visu_on span{font-weight:600;}



#simulateur-achylles .visu_off span,#simulateur-achylles .visu_on span{display:block;text-align:center;padding:33px 0;}
#simulateur-achylles .visu_off span.dec_resultat,#simulateur-achylles .visu_on span.dec_resultat{padding:22px 0;}

#simulateur-achylles .ajout span{display:block;text-align:center;padding:33px 0;}

#simulateur-achylles p.txt_attention{font-size:12px;margin:7px 0 0 0}

#simulateur-achylles  span.result_endettement{display: inline;margin:0;padding:0;}
#simulateur-achylles p.result_endettement{font-size:16px;margin:8px 0 0 0}

/* #simulateur-achylles .simulateur{overflow: hidden;} */

#simulateur-achylles .simulateur-box{display:table;width:100%}

#simulateur-achylles .simulateur-box:nth-child(n+1){margin: 10px 0 2.5rem 0;}

#simulateur-achylles .simulateur-box_c{margin:0.8% 0 0 0;display:block;width:100%;background-color:transparent;}
#simulateur-achylles .result_ptz .result_ptz{display:inline-block}

#simulateur-achylles .simulateur .rubrique{display:table-cell;vertical-align:top;padding:0 20px;width:100%;border-bottom:2px solid #f0f1f6;}
#simulateur-achylles .simulateur .rubrique_l{display:table-cell;vertical-align:top;padding:0 20px;width:100%;border-bottom:2px solid #f0f1f6;}
#simulateur-achylles .simulateur .rubrique_r{display:table-cell;vertical-align:top;padding:0 20px;width:100%;border-bottom:2px solid #f0f1f6;}


#simulateur-achylles .simulateur .simulateur-box_c .rubrique_l{border:none;}
#simulateur-achylles .simulateur .simulateur-box_c .rubrique_r{border:none}


#simulateur-achylles .simulateur .rubrique_c{display:table-header-group;vertical-align:top;padding:0 30px;width:100%;}

#simulateur-achylles .txt_reponse_ptz,#simulateur-achylles .txt_reponse_crd{margin:50px 0 0 0}

/*#simulateur-achylles .simulateur .rubrique_centre{background-color:#FFF;display:table-cell;vertical-align:top;padding:0;width:12px;}*/

#simulateur-achylles .simulateur .content-box{font-size:0;width:100%;}
#simulateur-achylles .simulateur .content-box > div:not([class*="aeration"]){margin-bottom: 2.5rem;}


#simulateur-achylles .simulateur p.libelle{font-size:16px;line-height:1.3;font-weight:500; color:#2b2b2b;}

#simulateur-achylles .simulateur .aff_reponse p.libelle{line-height:1.75;}

#simulateur-achylles a.ajout_credit{border:1px solid #a1a1a1;width:235px;display:block;text-decoration:none;color:#373737;text-align: center;padding:8px;font-size: 15px;float:right}
#simulateur-achylles .cte_ajout_credit{overflow:hidden;margin:8px 0 0 0}
#simulateur-achylles .simulateur h2{font-size:22px;font-weight:bold;text-transform:uppercase;text-align:left;margin:22px 0 19px 0; color:#2b2b2b;}
#simulateur-achylles .simulateur h2.project-title{margin-bottom:0;}
#simulateur-achylles label{display:inline-block;border:1px solid #a1a1a1;/*background:#f1f2f7;*/color:#373737;}
#simulateur-achylles label.sans_b{display:inline-block;border:none;color:#373737;}

#simulateur-achylles .profil-box label{display:inline-block;border:none;}
#simulateur-achylles .profil-box input[type="radio"]{display:none;}
#simulateur-achylles .profil-box label p{padding:10px;margin:0 8px 8px 0;cursor:pointer;background-color:#f1f2f7; color: #000; border:1px solid #f1f2f7; border-radius: 5px;}
#simulateur-achylles .profil-box label p:hover {background-color:#0091ff; color: #fff;}
#simulateur-achylles .profil-box input[type="radio"]:checked + label p{background-color:#0091ff; color: #fff;}

#simulateur-achylles .choice-trigger div {display:inline-block;border:none;}
#simulateur-achylles .choice-trigger div p{font-size:16px;padding:22px;margin:0 8px 8px 0;cursor:pointer; background-color:#0091ff; color:#fff;border-radius: 5px;}
#simulateur-achylles .choice-trigger div p:hover {background-color:#0091ff;color:#FFF;}



#simulateur-achylles input,#simulateur-achylles select{background:#FFF;border:none;font-size:16px;border-radius:0}
#simulateur-achylles input {background:#fff;font-weight:500;}
#simulateur-achylles .input_e input {border-right: 1px solid #a1a1a1;}
#simulateur-achylles input{text-align:center;height:40px;color:#000;padding:0;margin:0;box-shadow: 4px 2px 16px #050b24, -4px -2px 16px #050b24;}
#simulateur-achylles button{font-family:inherit}

#simulateur-achylles .info_bulle{cursor:pointer;margin:0 0 -3px 10px;display:inline-block;width:18px;height:18px;background-color:#326580;color:#FFF;text-align:center;border-radius:10px}

#simulateur-achylles p.libelle{margin:16px 0 10px 0}

#simulateur-achylles .separateur_x{font-size:18px;margin:14px 0 0 0;width:7%;text-align:center;display:inline-block;vertical-align:top}
#simulateur-achylles .separateur_s{font-size:18px;margin:14px 0 0 0;width:7%;text-align:center;display:inline-block;vertical-align:top}
#simulateur-achylles .separateur_v{margin:0;font-size:0;width:7%;display:inline-block}
#simulateur-achylles .aeration{margin-bottom:20px}

#simulateur-achylles #cont_proprietaire{margin:42px 0 0 0}

#simulateur-achylles label span.euros_mois{width:15%;display:inline-block;}
/*#simulateur-achylles label span.ans{width:50px;display:inline-block;}*/
/* tx endettement*/
#simulateur-achylles label.montantp_e{width:63%;}

#simulateur-achylles label.montantp_t{width: calc(100% - 50px);}

#simulateur-achylles label.montantp_ass{width:47%;}
#simulateur-achylles label.montant_e{width:100%;}
#simulateur-achylles label.inputbox{overflow: hidden; position: relative; border-radius:5px;}
#simulateur-achylles label.inputbox::before{content: '';position: absolute;right: 0;height:28px;font-size: 16px;font-weight: 500;padding: 12px 0 0 0;text-align: center;}

#simulateur-achylles label.input_e::before{content: '€';width:50px;color:#000;background-color: #f1f2f7;}

#simulateur-achylles label.input_e_on{border: 1px solid #0091ff;}
#simulateur-achylles label.input_e_on::before{content: '€';width:50px;color:#FFF;background-color: #0091ff;}


#simulateur-achylles label.input_e_err{border: 1px solid #eb1029;}
#simulateur-achylles label.input_e_err::before{content: '€';width:50px;color:#FFF;background-color:#eb1029;color:#FFF;}

#simulateur-achylles label.input_e_m::before{content: '€/mois';width:80px;color:#000;background-color: #f1f2f7;}

#simulateur-achylles label.input_e_m_on{border: 1px solid #0091ff;}
#simulateur-achylles label.input_e_m_on::before{content: '€/mois';width:80px;color:#FFF;background-color: #0091ff;}

#simulateur-achylles label.input_e_m_err{background-color:#eb1029;color: #FFF;border: 1px solid #eb1029;}
#simulateur-achylles label.input_e_m_err::before{content: '€/mois';width:80px;color:#FFF}

#simulateur-achylles label.input_ans{border:1px solid #f1f2f7;}
#simulateur-achylles label.input_ans::before{content:'';width:50px;color:#FFF;background-color: #0091ff;}

#simulateur-achylles label.input_ans_on{border: 1px solid #0091ff;}
#simulateur-achylles label.input_ans_on::before{content: 'ans';width:50px;color:#FFF;background-color:#0091ff}

#simulateur-achylles label.input_ans_err{border: 1px solid #eb1029;}
#simulateur-achylles label.input_ans_err::before{content: 'ans';width:50px;background-color: #eb1029;color: #FFF;}

#simulateur-achylles label.input_p{border: 1px solid #a1a1a1;}
#simulateur-achylles label.input_p::before{content:'%';width:50px;background-color: #f1f2f7;color: #000;}

#simulateur-achylles label.input_p_on{border: 1px solid #0091ff;}
#simulateur-achylles label.input_p_on::before{content:'%';width:50px;background-color:#0091ff;color: #FFF;}


#simulateur-achylles label.input_p_err{border: 1px solid #eb1029;}
#simulateur-achylles label.input_p_err::before{content:'%';width:50px;background-color: #eb1029;color: #FFF;}

#simulateur-achylles label.montant_e input{width: calc(100% - 50px);}
#simulateur-achylles label.montantp_e input{width: calc(100% - 50px);}
#simulateur-achylles label.montantp_t input {width: calc(100% - 50px);border-right: 1px solid #a1a1a1;}
#simulateur-achylles label.select_mois{width:30%;}

#simulateur-achylles label.select_credit{width:46%;}

#simulateur-achylles label.select_nb{width:50%;}

#simulateur-achylles label.montantp_e_m{width:47%}

#simulateur-achylles label.montant_euros_mois_g{width:63%}

#simulateur-achylles .footer_r{margin:12px 0;font-size:0;display: table;width:100%;padding:0;}
#simulateur-achylles .footer_r .centre button{color:#3a3a3a;font-size:16px;font-weight:600;text-align:left;width:auto;}

#simulateur-achylles .fil_ariane{margin:0;padding:0}
#simulateur-achylles .fil_ariane a:hover{text-decoration:none;}

#simulateur-achylles label.montantp_e_m span.euros_mois{width:32%;display: inline-block;}

#simulateur-achylles label.montantp_e_m input{width: calc(100% - 80px);border-right: 1px solid #a1a1a1;}

#simulateur-achylles label.montantp_ass input{width: calc(100% - 50px);border-right: 1px solid #a1a1a1;}


#simulateur-achylles label.montant_e_m{width:100%}
#simulateur-achylles label.montant_e_m input{width: calc(100% - 80px);border-right: 1px solid #a1a1a1;}


/* tx amortissement*/
#simulateur-achylles label.montant_euros input{width:526px;}
#simulateur-achylles label.select_mois_g{width:100%}

#simulateur-achylles label.select_mois_g select{padding: 0 0 0 42%;}

/*#simulateur-achylles #fond_duree_credit{width:100%;height:60px;margin:10px 0 0 0;background:url(/imgcustom/ci-formulaire/fond_potentiometre.png) 0 0 no-repeat;background-size:cover}*/

#simulateur-achylles .tab_amort{width:100%;border-right:2px solid #f1f2f7;border-left:2px solid #f1f2f7}
#simulateur-achylles .tab_amort tr:nth-child(1){background-color:#f1f2f7;color:#000;font-weight:500}
#simulateur-achylles .tab_amort td{height:40px;vertical-align:middle;margin:0;padding:0}
#simulateur-achylles .tab_amort thead th{height:40px;vertical-align:middle;margin:0;padding:0}



#simulateur-achylles .tab_amort tr.tr_mois{height:28px;color:#000000;font-size:15px;text-align:center;}
#simulateur-achylles .tab_amort td.td_mois{border-right:2px solid #f1f2f7}
#simulateur-achylles .tab_amort td.td_mois:last-child{border-right:none}

#simulateur-achylles .gras_500{font-weight:500}
#simulateur-achylles .gras_600{font-weight:600}
#simulateur-achylles .gras_700{font-weight:700}

#simulateur-achylles .tab_amort tr.tr_mois:nth-child(odd){background-color:#FFF}
#simulateur-achylles .tab_amort tr.details{border-left:2px solid #f1f2f7;color:#FFF;text-align:center;height:23px;font-size:14px;background-color:#f1f2f7;font-weight:500}

#simulateur-achylles .tab_amort tr.tr_annee{border-left:2px solid #f1f2f7;background-color:#FFFFFF;height:30px;color:#000000;font-size:15px;text-align:center;}
#simulateur-achylles .tab_amort td.td_annee{border-right:2px solid #f1f2f7}
#simulateur-achylles .tab_amort td.td_annee:last-child{border-right:none}

#simulateur-achylles .tab_amort a.detail_tab{color:#4aa7cd;display:block;text-decoration:none;background-color:#f1f2f7}
#simulateur-achylles .tab_amort a.detail_tab_on{color:#FFF;display:block;text-decoration:none;background-color:#4aa7cd;padding: 8px 0;}
#simulateur-achylles .tab_amort span.fleche_gauche{margin:0px 0px 0px 108px;width:21px;float:left;display:block;height:20px;background:url(/imgcustom/ci-formulaire/fleche_cal_endettement.gif) no-repeat 0px -21px;}
#simulateur-achylles .tab_amort span.fleche_droite{float:left;width:21px;display:block;height:20px;display:block;background:url(/imgcustom/ci-formulaire/fleche_cal_endettement.gif) no-repeat 0px -21px}

#simulateur-achylles .tab_amort .detail_mensuel{width:100%;border-top:1px solid #fefefe;border-bottom:1px solid #fefefe;background-color:#fff}
#simulateur-achylles .tab_amort .detail_mensuel tr{border-bottom:2px solid #f1f2f7}
#simulateur-achylles .tab_amort .detail_mensuel tr:nth-child(1){background-color:#ffffff;}
#simulateur-achylles .tab_amort .detail_mensuel tr:nth-child(even) {background-color:#e5f6fb;}

#simulateur-achylles .tab_mens .td_annee{text-align:center}
#simulateur-achylles .tab_mens .td_annee:nth-child(2),#simulateur-achylles .tab_mens .td_annee:nth-child(1){font-weight:600}

#simulateur-achylles .tabl_generique{width:100%;border-right:2px solid #f1f2f7;border-left:2px solid #f1f2f7;border-top:2px solid #f1f2f7;background-color:#FFF;margin:0 auto 0 auto;font-size:16px;text-align: left;}
#simulateur-achylles .tabl_generique thead{text-align:center;font-weight:500;background-color:#f1f2f7;color:#000;}
#simulateur-achylles .tabl_generique thead tr th{vertical-align:middle}
#simulateur-achylles .tabl_generique thead tr .parenthese{font-weight:normal;font-size:11px}
#simulateur-achylles .tabl_generique tbody tr:nth-child(even){background-color:#f1f2f7;color:#000;}
#simulateur-achylles .tabl_generique tbody tr:nth-child(odd){background-color:#FFF;color:#000;}
#simulateur-achylles .tabl_generique tbody td.center{text-align:center}
#simulateur-achylles .tabl_generique td{border-right:2px solid #f1f2f7}
#simulateur-achylles .tabl_generique td:last-child{border-right:none}
#simulateur-achylles .tabl_generique tr:last-child{border-bottom:1px solid #f1f2f7;}
#simulateur-achylles .tabl_generique tbody tr:nth-child(n+1) td:nth-child(1){padding:0 0 0 20px}

#simulateur-achylles .tab_mens{width:100%;border-right:1px solid #f1f2f7;border-left:1px solid #f1f2f7;border-top:1px solid #f1f2f7;background-color:#FFF;margin:0 auto 0 auto;font-size:16px;text-align: left;}
#simulateur-achylles .tab_mens thead{text-align:center;font-weight:500;background-color:#f1f2f7;color:#000;}
#simulateur-achylles .tab_mens thead tr th{vertical-align:middle;height: 40px;color:#FFF;line-height: 1.1;}
#simulateur-achylles .tab_mens thead tr .parenthese{font-weight:normal;font-size:11px}
#simulateur-achylles .tab_mens tbody tr:nth-child(even){background-color:#f1f2f7;color:#000;}
#simulateur-achylles .tab_mens tbody tr:nth-child(odd){background-color:#FFF;color:#000;}
#simulateur-achylles .tab_mens tbody td.center{text-align:center}
#simulateur-achylles .tab_mens td{border-right:1px solid #f1f2f7;border-bottom: solid 1px #f1f2f7;height:40px;vertical-align: middle;}
#simulateur-achylles .tab_mens td:last-child{border-right:none}
#simulateur-achylles .tab_mens tr:last-child{border-bottom:1px solid #f1f2f7;}
#simulateur-achylles .tab_mens tbody tr:nth-child(n+1) td:nth-child(1){padding:0 0 0 20px}


#simulateur-achylles .cel{width:60%}

#simulateur-achylles .tabl_generique td{height:40px;vertical-align:middle;}

#simulateur-achylles .tabl_generique input{height:25px;border: 1px solid #f1f2f7;}
#simulateur-achylles .tabl_generique a{text-decoration:underline;color:#000}


#simulateur-achylles .ui-slider-horizontal .ui-slider-handle{}
#simulateur-achylles .ui-slider-range{background-color: #0091ff;height: 10px;margin: 0;z-index: 1;position: absolute;}
#simulateur-achylles .slider{position: relative;height: 22px;margin: 0;padding: 0;width: 94%;left: 2.5%;top: -10px;}
#simulateur-achylles .ui-slider-handle{cursor: pointer;position: absolute;width: 20px;height: 20px;background-color: #FFF;border-radius: 10px;-webkit-box-shadow: 0 4px 8px 0 #a9a9aa;box-shadow: 0 4px 8px 0 #a9a9aa;z-index: 2;top: -5px;}
/*#simulateur-achylles .ui-widget-content {background:none;border:none}*/
/*#simulateur-achylles .taille_slider {margin:0 0 0 0;width:100%;}*/

/*#simulateur-achylles #fond_taux_credit,#simulateur-achylles #fond_taux_interet{width:100%;height:60px;margin:10px 0 0 0;background:url(/imgcustom/ci-formulaire/fond_potentiometre2.png) 0 0 no-repeat;background-size: cover;}*/


#simulateur-achylles a.btp_vue{border:1px solid #a1a1a1;width:140px;display:inline-block;text-decoration:none;color:#373737;text-align: center;padding:8px;font-size: 15px;}
#simulateur-achylles a.btp_vue_on{border:1px solid #a1a1a1;width:140px;display:inline-block;text-decoration:none;color:#FFF;text-align: center;padding:8px;font-size: 15px;}
#simulateur-achylles p.txt_vue_amort{width:140px;display:inline-block;}


#simulateur-achylles label.selectbox{overflow: hidden;position: relative; border-radius:5px;}
#simulateur-achylles .selectbox.select_credit::before {border-bottom: 1px solid #a1a1a1;line-height: 49px;}
#simulateur-achylles .selectbox::before {content: '>';color:#000;background-color:#f1f2f7;-webkit-transform: rotate(90deg);-webkit-transform-origin: 25px;-moz-transform: rotate(90deg);-moz-transform-origin: 25px;-ms-transform: rotate(-90deg);/*-ms-transform-origin: 40px;*/-o-transform: rotate(-90deg);-o-transform-origin: 40px;transform: rotate(90deg);position: absolute;right:10px;width:40px;
font-size:20px;font-weight:500;padding:0;text-align: center;line-height:50px;-webkit-appearance: none;-moz-appearance: none;appearance: none;pointer-events:none;}
#simulateur-achylles .selectbox select{width: 100%;cursor:pointer;padding: 0 15px;background: #FFF;color: #000;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;font-size:16px;height:40px;}
#simulateur-achylles select::-ms-expand {display: none;}

#simulateur-achylles .select_on::before{content: '>';color:#FFF;background-color:#0091ff;}
#simulateur-achylles .select_on{background-color:#0091ff;color:#FFF;border:1px solid #0091ff;}

#simulateur-achylles .err_select_on{background-color:#eb1029;color:#FFF;}

#simulateur-achylles .resultat{margin:6px 0;display:none;}
#simulateur-achylles .resultat h2{font-size: 42px;color: #FFF;padding: 0;font-weight: normal;margin: 0;vertical-align: middle;line-height:1;text-align: center;padding: 4px 0 20px 0px;}
#simulateur-achylles .icon::before{display: inline-block;-webkit-transform: translateY(15%);transform: translateY(15%);color: #FFF;font-size: 70px;padding:0px 20px 0 0;}

#simulateur-achylles .resultat i{font-style:normal}

#simulateur-achylles .resultat h2 .result_endettement{font-weight:600}
#simulateur-achylles .resultat h2 .result_mensualite{font-weight:600;font-size:50px;text-transform:lowercase;display:inline-block}
#simulateur-achylles .resultat h2 .result_h2{font-size:26px;text-transform:lowercase;display:inline-block}

/*#simulateur-achylles .reponse{width:100%;}*/

#simulateur-achylles .aff_reponse{padding:34px 10%;background-color: #FFF;}
#simulateur-achylles .aff_reponse_all{padding:34px 10px;background-color: #FFF;}

#simulateur-achylles .bon_a_savoir{background-color:#f1f2f7;color:#3c3c3c;padding:14px 20px;font-size:16px}
#simulateur-achylles .bon_a_savoir p{line-height:1.4}
#simulateur-achylles .gras{font-weight:700}

#simulateur-achylles .resultat h3{text-align:center;font-size:16px;text-transform:uppercase;font-weight:bold;margin:35px 0 25px 0;color:#3c3c3c;}
#simulateur-achylles .resultat h3:nth-child(1){margin-top:15px}

#simulateur-achylles .resultat .vue_donut h3{margin-top: 15px;}


#simulateur-achylles .barre_endettement_fond{height:70px;width:490px;margin:16px auto;font-size:0}
#simulateur-achylles .barre_endettement_fond .curseur{background: url(../../../imgcustom/ci-formulaire/curseur.png);width:40px;height:48px;display:block;position:absolute;margin:-42px 0 0 0;z-index:10;position:relative}

#simulateur-achylles .barre_endettement_fond .portion1{display:inline-block;width: 33%;background-color: #5edd91;height:15px;margin:26px 0 0 0;z-index:1}
#simulateur-achylles .barre_endettement_fond .portion2{display:inline-block;width:33%;background-color:#ffb42e;height:15px;margin:26px 0 0 0;z-index:1}
#simulateur-achylles .barre_endettement_fond .portion3{display:inline-block;width:34%;background-color:#f74359;height:15px;margin:26px 0 0 0;z-index:1}

#simulateur-achylles .ajout_credit_label{margin:0 0 10px 0}

#simulateur-achylles .err_contenu{color:#eb1029;font-size:8px;padding:4px 0;display:block}

#simulateur-achylles .back{background-color:#0091ff;}
#simulateur-achylles .txt_back{color:#0091ff;}

	
#simulateur-achylles .footer{font-size:0;display: block;width:100%;}
#simulateur-achylles .footer.deux_btp{margin:0; background: #fff;padding-bottom: 5px;}
#simulateur-achylles .un_btp{padding: 2rem 5%;background: #fff;}
#simulateur-achylles .deux_btp{padding: 0;}

/*#simulateur-achylles .footer .centre button{color:#3a3a3a;font-size:16px;font-weight:500;text-align:left;width:auto;}*/

#simulateur-achylles .aff_resultat button{color:#FFF;font-size:16px;font-weight:500;text-align:center;width:auto;text-transform:uppercase;}
#simulateur-achylles .aff_resultat{background-color:#0091ff;margin:6px 0}

#simulateur-achylles .vue_graphique{display:block;width:100%;height:auto;margin:0 auto;}
#simulateur-achylles .vue_donut{display: block;width:250px;height: auto;margin: 0 auto 30px auto;}

#simulateur-achylles .vue_line,#simulateur-achylles .vue_line_cap1{display: inline-block;width:48%;margin:0 auto;vertical-align: top;text-align:left}

#simulateur-achylles .vue_line_centre{width:300px;margin: 0 auto;}

#simulateur-achylles .aff_reponse p.legende,#simulateur-achylles .aff_reponse_all p.legende{margin:6px 0;line-height: 1;}
#simulateur-achylles .aff_reponse p.legende span,#simulateur-achylles .aff_reponse_all p.legende span{display:inline-block;margin:0 10px 0 0;width:40px;height:12px;}

#simulateur-achylles .footer .btp{width:33%;display:block;margin:0 auto;}
#simulateur-achylles .footer .btp:last-child .btp_gris{margin-top:3rem;}

#simulateur-achylles .footer .btp_orange{
background: rgba(255,136,0,1);
background: -webkit-gradient(linear, left top, right top, from(rgba(255,136,0,1)), color-stop(51%, rgba(246,170,38,1)), to(rgba(255,136,0,1)));
background: linear-gradient(to right, rgba(255,136,0,1) 0%, rgba(246,170,38,1) 51%, rgba(255,136,0,1) 100%);
background-size: auto auto;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#f6aa26', GradientType=1 );
background-size: 200% auto;-webkit-transition: .5s;transition: .5s;
color:#FFF;text-transform:uppercase;padding: 0;border-radius: 5rem;}

#simulateur-achylles .footer .btp_orange:hover{background-position:right center;}


#simulateur-achylles input[type=email]{outline:0; -webkit-box-shadow:none; box-shadow:none; }
#simulateur-achylles .correction_email {display:none;padding: 4px 0 0 20%;width: 100%;}
#simulateur-achylles .correction_email p{font-size:15px;text-align:center;background-color:#82c3db;color:#FFF;margin:0;padding: 6px 0;}
#simulateur-achylles .correction_email .a_corriger{color:#FFF;text-decoration:underline}
#simulateur-achylles .correction_email .a_corriger{cursor: pointer;}


#simulateur-achylles .sep_centre{width:5%;display:table-cell;}
#simulateur-achylles .footer .btp_gris{font-weight: 500;}
#simulateur-achylles .footer .btp_gris:hover{text-decoration: underline;}
#simulateur-achylles .footer_r button,#simulateur-achylles .footer button,#simulateur-achylles .aff_resultat button{padding:9px 0;width:100%;background:transparent;cursor:pointer;border:0;font-weight:600;font-size:16px;min-height: 43px;}

#simulateur-achylles .footer a.btp_orange{padding: 13.3px 0;width:100%;cursor:pointer;border:0;font-weight:600;font-size:16px;min-height: 43px;display: block;text-align: center;text-decoration: none;}


#simulateur-achylles .footer .icon_contact::before{font-size:30px;display: inline-block;vertical-align: middle;padding: 0px 10px 0 0;}

#simulateur-achylles .block_env_simul{padding:0;height:0;opacity:0;width:100%;background-color:#FFF;}
#simulateur-achylles .txt_env_simul{padding:0 20px;}

#simulateur-achylles .form_on{height:auto;-webkit-transition: all ease .3s;transition: all ease .3s;opacity:1;-webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);padding: 2rem;margin-bottom: 2rem;margin-top: 2rem;}
#simulateur-achylles .form_rep{height:100px;-webkit-transition: all ease .3s;transition: all ease .3s;opacity:1;}
#simulateur-achylles p.info_env_mail{text-align: center;font-size: 16px;text-transform: uppercase;font-weight: bold;padding:0 0 25px 0;color: #3c3c3c;}

#simulateur-achylles .supp_env{margin: 0;color: #326580;padding-bottom:15px;text-align: right;}
#simulateur-achylles .supp_env span{cursor: pointer;font-size: 20px;margin:0 0 0 10px}
#simulateur-achylles .supp_env span:hover{color:#000000;}
#simulateur-achylles .libelle2{font-size: 16px;line-height: 1.3;margin: 6px 0;width: 100%;;display:block;}
#simulateur-achylles label.e_mail_env_sim{width:100%}
#simulateur-achylles label.e_mail_env_sim input{width:100%}
#simulateur-achylles .conditions{color:#aeaeae;font-size:14px;padding: 10px 0;display: block;text-align: center;}
#simulateur-achylles .conditions a{font-weight:500;text-decoration:underline;color:#aeaeae;}
#simulateur-achylles .btp_env_simul{margin:24px 0}

#simulateur-achylles .resultat .txt_resultat_frais_notaire{display:inline-block}
#simulateur-achylles .resultat .txt_result_crd{display:inline-block}

#simulateur-achylles .partage_reseaux{display:inline-block;color:#3a3a3a;vertical-align: bottom;font-size:0;float: right;margin:52px 0 0 0;}
#simulateur-achylles .partage_reseaux span{padding: 12px 0 0 0;display: inline-block;font-weight: 500;font-size: 16px;vertical-align: top;}
#simulateur-achylles .partage_reseaux a{width:37px;height:37px;display:inline-block;border-radius:20px;text-decoration:none;}
#simulateur-achylles .partage_reseaux a.icon_fb{background-color:#3b5998;margin: 0 0 0 20px;}
#simulateur-achylles .partage_reseaux a.icon_fb::before{content:"\e932";color:#FFF;font-size:26px;margin:5px 0 5px 12px;}
#simulateur-achylles .partage_reseaux a.icon_twitter{background-color:#00aced;margin: 0 0 0 10px;}
#simulateur-achylles .partage_reseaux a.icon_twitter::before{content:"\e933";color:#FFF;font-size: 26px;margin:5px 6px 5px 10px}
#simulateur-achylles .partage_reseaux a.icon_in{background-color:#0077b5;margin: 0 0 0 10px;}
#simulateur-achylles .partage_reseaux a.icon_in::before{content:"\e934";color:#FFF;font-size: 26px;margin:5px 6px 0px 10px}

#simulateur-achylles .err_champ{font-size: 14px;color:#eb1029;padding: 8px 0;display: block;}

#simulateur-achylles span.fleche_haut{-webkit-transform:rotate(90deg);transform:rotate(90deg);width:20px;display:inline-block;font-weight:600;font-size:1rem}
#simulateur-achylles span.fleche_bas{-webkit-transform:rotate(-90deg);transform:rotate(-90deg);width:20px;display:inline-block;font-weight:600;font-size:1rem}

#simulateur-achylles .detail_info{font-size: 12px;text-align: center;display:block;margin:26px 0}

#simulateur-achylles label.liste_choix{font-size:16px;padding:22px;margin:0 8px 8px 0;cursor:pointer; border-radius: 5px;}
#simulateur-achylles label.liste_choix_on{font-size:16px;padding:22px;margin:0 8px 8px 0;cursor:pointer;background-color:#0091ff;color:#000;border:1px solid #0091ff; border-radius: 5px;}
#simulateur-achylles label.fin{margin:0}

#simulateur-achylles label.liste_radio{font-size:16px;margin:0 30px 0 0;cursor:pointer}
#simulateur-achylles label.liste_radio span{display:inline-block;width:15px;height:15px;background-color:#f1f2f7;border:1px solid #a1a1a1;margin:0 6px 0 0}
#simulateur-achylles label.liste_radio span.on{display:inline-block;width:15px;height:15px;background-color:#0091ff;border:1px solid #a1a1a1;margin:0 6px 0 0}

#simulateur-achylles label.departement,#simulateur-achylles label.departement input{width:100%}
#simulateur-achylles label.input_r_on{border: 1px solid #0091ff;}
#simulateur-achylles label.input_r_err{border: 1px solid #eb1029;}
#simulateur-achylles label.date{width:120px}
#simulateur-achylles label.date input{width:100%}

#simulateur-achylles .sous_rubrique{margin:0px;padding:0px;position:absolute;z-index:99;text-align:left;width:559px}
#simulateur-achylles #rech_ville_cp_global{background-color: #FFFFFF;border: 1px solid #CFCFCF;margin:0 0 0 0px;padding: 0;display:block;}
#simulateur-achylles #rech_ville_cp_global p.libelle{font-size:16px;margin:0;padding-top:2px;padding-bottom:2px;font-weight:bold;text-align:center;color:#000000;border-bottom:1px solid #CFCFCF;background-color:#e2e2e2}
#simulateur-achylles #rech_ville_cp_global #rech_ville_cp{margin:0px; max-height:110px;}

#simulateur-achylles #rech_ville_cp{background-color: #ffffff;margin:0;max-height:90px;overflow: auto;padding:0;}
#simulateur-achylles #rech_ville_cp p.commune{border-top: 1px solid #cfcfcf;}

#simulateur-achylles #rech_ville_cp p{font-size: 15px;margin:0;padding:2px 0;}
#simulateur-achylles #rech_ville_cp a{display: block;padding:4px 6px;text-decoration: none;background-color: #ffffff;color: #5e5b5c;}
#simulateur-achylles #rech_ville_cp a:hover{background-color: #CFCFCF;}

#simulateur-achylles .line_w65{display: inline-block;margin: 0 auto;width:65%;}
#simulateur-achylles .line_w35{display: inline-block;margin: 0 auto;width:35%;}

#simulateur-achylles .line_w50{display: inline-block;margin: 0 auto;width:50%;vertical-align:top}

#simulateur-achylles .left{text-align:left}
#simulateur-achylles .right{text-align:right}
#simulateur-achylles .center{text-align:center}

#simulateur-achylles table.cap_achat{border:0;margin:0;padding:0;width:360px;}
#simulateur-achylles table.cap_achat tr:nth-child(even) {background-color:#f1f2f7;}
#simulateur-achylles table.cap_achat tr:nth-child(odd) {background-color:#fff;}
#simulateur-achylles table.cap_achat td{padding:8px 8px;}
#simulateur-achylles td.bordertop{border-top:2px solid #326580}
#simulateur-achylles td.resultat{color:#326580;font-weight:500}


.cont_slider {width: 100%; max-width: 100%;display: block; height: 60px;padding: 20px 0 0 0;}

.barre_duree,.barre_taux_i,.barre_taux_a,.barre_achat,.barre_apport,.barre_duree_z_t{
  background:#cdcfd4;
  height:10px;
  width:calc(100% - 10px);
  margin:0 5px;
  position:relative
}

.barre_duree:after, .barre_duree:before,.barre_taux_i:after, .barre_taux_i:before,.barre_taux_a:after, .barre_taux_a:before, .barre_achat:before,.barre_achat:after, .barre_apport:before,.barre_apport:after,
.barre_duree_z_t:after,.barre_duree_z_t:before{
  content:'';
  position:absolute;
  top:0;
  background:#cdcfd4;
  width:10px;
  height:100%;
}

.barre_duree:after,.barre_taux_i:after,.barre_taux_a:after,.barre_achat:after,.barre_apport:after,.barre_duree_z_t:after{
  right:-5px;
  border-radius:0 10px 10px 0;
}

.barre_duree:before,.barre_taux_i:before,.barre_taux_a:before,.barre_achat:before,.barre_apport:before,.barre_duree_z_t:before{
  left:-5px;
  border-radius:10px 0 0 10px;
  background-color: #0091ff;
width: 15px;
}

[class*=step]{
  position:absolute;
  font-family:Poppins;
  font-size:12px;
  top:20px;
  text-align:center;
}

.barre_duree_z_t .step0{left:0%;}
.barre_duree_z_t .step7{left:17%;}
.barre_duree_z_t .step10{left:27%}
.barre_duree_z_t .step15{left:44%}
.barre_duree_z_t .step20{left:61%}
.barre_duree_z_t .step25{left:78%}
.barre_duree_z_t .step30{left:92.8%}
.barre_duree_z_t .step30:before{left: 80%;}


.barre_duree .step7{left:0%;}
.barre_duree .step10{left:13%}
.barre_duree .step15{left:34%}
.barre_duree .step20{left:54%}
.barre_duree .step25{left:74%}
.barre_duree .step30{left:92.8%}
.barre_duree .step30:before{left: 80%;}


.barre_taux_i .step0{left:1.2%;}
.barre_taux_i .step1{left:21%}
.barre_taux_i .step2{left:40%}
.barre_taux_i .step3{left:59%}
.barre_taux_i .step4{left:78%}
.barre_taux_i .step5{left:96%}
.barre_taux_i .step5:before{left:80%;}


.barre_taux_a .step0{left:1.2%;}
.barre_taux_a .step1{left:26%}
.barre_taux_a .step2{left:50%}
.barre_taux_a .step3{left:74%}
.barre_taux_a .step4{left:96%}
.barre_taux_a .step4:before{left:80%;}

.barre_achat .step0{left:1.7%;}
.barre_achat .step1{left:18%}
.barre_achat .step2{left:36%}
.barre_achat .step3{left:55%}
.barre_achat .step4{left:77%}
.barre_achat .step5{left:90%}
.barre_achat .step5:before{left:90%;}

.barre_apport .step0{left:1.7%;}
.barre_apport .step1{left:18%}
.barre_apport .step2{left:38%}
.barre_apport .step3{left:57%}
.barre_apport .step4{left:77%}
.barre_apport .step5{left:91%}
.barre_apport .step5:before{left:96%;}

@media only screen and (max-width:767px){
.step20, .step40, .step60, .step80{display:none;}
}















@media only screen and (max-width:1276px) {
	#simulateur-achylles{width:100%;padding:16px 18px;}	
	#simulateur-achylles .simulateur .droite{margin: 6px 0 0 0;border:none}
	#simulateur-achylles .simulateur .gauche{border:none}
	
	#simulateur-achylles .form_env_simul .libelle2{display: block;margin: 6px 0;width:100%}
	#simulateur-achylles label.e_mail_env_sim{width:100%}
	#simulateur-achylles .correction_email{padding:4px 0 0 0 }
	
}

@media only screen and (max-width:1100px) {
	#simulateur-achylles .ui-slider-horizontal .ui-slider-handle{margin:0}
	#simulateur-achylles .ui-slider-range{height:10px;}
	
	#simulateur-achylles .cel{width:100%}
}

@media only screen and (max-width:1076px) {
	#simulateur-achylles label.liste_choix,#simulateur-achylles label.liste_choix_on{text-align:center;margin:0 8px 8px 0}
	#simulateur-achylles label.fin{margin:0}
	#simulateur-achylles .line_w65,#simulateur-achylles .line_w35{display:block;width:100%}
    #simulateur-achylles .footer .btp{width:50%;}
}


@media only screen and (max-width:1023px) {
	/*#simulateur-achylles .ui-slider-range{height:12px;}*/
	#simulateur-achylles .ui-slider-horizontal .ui-slider-handle{margin:2px 0 0 0}
	#simulateur-achylles #fond_duree_credit,#simulateur-achylles #fond_taux_credit, #simulateur-achylles #fond_taux_interet{width: 561px;margin: 10px auto 0 auto;}
	
	#simulateur-achylles .simulateur .simulateur-box{width:100%;display:block;}
	#simulateur-achylles .simulateur-box:nth-child(n+1){margin:0}
	
	#simulateur-achylles .simulateur .simulateur-box_c{margin:0;padding:0;}
	#simulateur-achylles .simulateur .rubrique{width:100%;display:inline-block;padding: 0 16px;}
	#simulateur-achylles .simulateur .rubrique_r{width:100%;display:inline-block;padding: 0 16px;border-bottom:none}
	#simulateur-achylles .simulateur .rubrique_l{width:100%;display:inline-block;padding: 0 16px;border-bottom: 2px solid #f0f1f6;border-top:none}
	
	
	#simulateur-achylles .simulateur .content-box{margin: 0 auto;width:580px;}
	#simulateur-achylles form{display:block;}
	#simulateur-achylles .vue_donut{width:300px;}
	
	#simulateur-achylles #cont_proprietaire{margin:0}
    #simulateur-achylles .un_btp{padding: 2rem 0;}
}

@media only screen and (max-width:910px) {
	/*#simulateur-achylles #onglet_simulations .partage_reseaux{display:none}*/
	#simulateur-achylles .vue_line{display:block;width:100%}
	#simulateur-achylles .resultat h2 .result_mensualite{display:block}
	#simulateur-achylles .resultat h2 .result_h2{display:block}
	#simulateur-achylles .onglet_simulation{display:none}
	#simulateur-achylles .txt_reponse_ptz,#simulateur-achylles .txt_reponse_crd{margin:0}
	#simulateur-achylles #onglet_simulations .partage_reseaux{margin-top:0}
	#simulateur-achylles .icon::before{content:"";padding:0;}
	#simulateur-achylles .resultat h2{padding:20px 0;height:auto;}
}

@media only screen and (max-width:767px) { /* 750*/
	
	#simulateur-achylles .vue_line_cap1{display:block;width:100%}

	#simulateur-achylles .simulateur .rubrique{padding: 0 16px;}
	#simulateur-achylles .simulateur .rubrique_l{padding: 0 16px;}
	#simulateur-achylles .simulateur .rubrique_r{padding: 0 16px;}
	
	#simulateur-achylles .aff_reponse{padding: 1rem 1.4rem;}
	#simulateur-achylles .resultat h2 .result_endettement{display:block;}
	#simulateur-achylles p.txt_vue_amort{display:block;width:auto;margin:8px 0}
	
	#simulateur-achylles .aff_reponse_all{text-align:center}

	#simulateur-achylles .footer{display:block;}
	#simulateur-achylles .footer .droite,#simulateur-achylles .footer .gauche{display:block;width:100%}
	#simulateur-achylles .resultat .txt_resultat_frais_notaire{display:block}
	#simulateur-achylles .resultat .txt_result_crd{display:block}
	
	#simulateur-achylles .footer .btp{width: 100%;display: block;}
    #simulateur-achylles .footer.deux_btp .btp:nth-child(n+1){margin:0;}
    #simulateur-achylles .footer.deux_btp .btp {padding: 0 20px;}
	/*#simulateur-achylles .sep_centre{height: 10px;}*/
    #simulateur-achylles .footer .btp:last-child .btp_gris{margin-top:1rem;}
    #simulateur-achylles .footer .btp .btp_orange {font-size: 14px;}
    #simulateur-achylles .simulateur .content-box .line_w50{margin-bottom: 2.5rem;}
    #simulateur-achylles .footer.un_btp .btp {padding: 1rem 1.4rem;}
}
	
	
@media only screen and (max-width:660px) {
	#simulateur-achylles .simulateur .content-box{width:100%}
	#simulateur-achylles label{width:100%;margin-top:2px;margin-bottom:2px}
	
	#simulateur-achylles label.liste_choix,#simulateur-achylles label.liste_choix_on{width:auto}
	#simulateur-achylles label.liste_radio,#simulateur-achylles label.liste_radio_on{width:auto}
	
	#simulateur-achylles label.montantp_e{width:100%}
	
	#simulateur-achylles label.montantp_e input{width: calc(100% - 40px);}
    #simulateur-achylles label.input_e::before {width: 40px;}
    #simulateur-achylles label.input_e_on::before{width:40px;}
	#simulateur-achylles label.montant_e_m input,#simulateur-achylles label.montant_euros_mois_p input,#simulateur-achylles label.montantp_e_m input{width: calc(100% - 80px);}
	
	#simulateur-achylles label.montant_e input{width: calc(100% - 40px);}
    #simulateur-achylles label.montantp_t{width:calc(100% - 40px);}
    #simulateur-achylles label.montantp_t input {width: calc(100% - 40px);}
    #simulateur-achylles label.input_p::before{width:40px;}
    
    #simulateur-achylles label.input_ans_on::before{width:40px;}
    #simulateur-achylles label.input_ans_err::before{width:40px;}
    #simulateur-achylles label.input_p_on::before{width:40px}
	#simulateur-achylles label.montant_e_p{width:100%;}
	#simulateur-achylles label.montantp_e_m{width:100%;}
    
    #simulateur-achylles label.input_e_err::before{width:40px;}
    #simulateur-achylles label.input_p_err::before{width:40px;}
    
	
	#simulateur-achylles label.select_mois_g{width:100%;}
	
	#simulateur-achylles .cont_slider{display:none;}
	
	#simulateur-achylles label.select_mois{width:100%;margin-top:2px;margin-bottom:2px}
	#simulateur-achylles label.select_credit{width:100%;margin-top:4px;margin-bottom:4px}
	
	#simulateur-achylles .barre_endettement_fond {height:90px;width:100%;margin:0 auto;}

	#simulateur-achylles .separateur_x{display: none;}
	#simulateur-achylles .separateur_v{display: none;}
	
	#simulateur-achylles label.montantp_ass{width:100%}
	#simulateur-achylles label.montantp_ass input{width: calc(100% - 40px);}
	#simulateur-achylles .resultat h2{font-size:28px;}
	#simulateur-achylles .resultat .result_ptz{display:block}
	#simulateur-achylles .line_w50{display:block;width:100%}
	
	
	
	/*#simulateur-achylles table.tab_contenu .titre_col_tab_contenu{display:table-cell;font-size:1.4rem;padding:0.8rem;vertical-align:middle}*/
	#simulateur-achylles .tab_amort{border-right:none;border-left: 1px solid #f1f2f7;}
	
	#simulateur-achylles .tab_amort td.td_annee{border-right:none;}
	#simulateur-achylles .tab_amort td.td_mois{border-right:none;}
	#simulateur-achylles .tab_amort tr.tr_annee{border:none;}
	#simulateur-achylles .tab_amort a.detail_tab{padding:8px 0}
	#simulateur-achylles .tab_amort tr.details{border:none}
	#simulateur-achylles .tab_amort .detail_mensuel{border-top:none;}
	#simulateur-achylles .tab_amort td{height:auto}
	#simulateur-achylles .tab_amort tr.details td{border:none;}
	#simulateur-achylles .tab_amort .detail_mensuel tr:nth-child(even){background:none;}
	#simulateur-achylles .tab_amort .tab_cell{border-right:solid 1px #f1f2f7;}
	#simulateur-achylles .tab_amort{border-right:none;}	
	
	
	#simulateur-achylles table.tab_mens{border-collapse: initial;}
	#simulateur-achylles table.vs_mob, table.vs_mob tbody{display:block}
	#simulateur-achylles table.vs_mob tr{display:table;width:100%;border-left: 1px solid #f1f2f7;border-right: 1px solid #f1f2f7;}
	#simulateur-achylles table.vs_mob tbody{border-top:1px solid #f1f2f7}
  	#simulateur-achylles table.vs_mob thead{display:none}

	#simulateur-achylles .vs_mob td{display:table-row;text-align:center;vertical-align:middle;font-size:14px;padding:0;border-bottom:solid 1px #fff}

  	#simulateur-achylles .vs_mob tr:nth-child(odd) td:before{/*border-color:#fff*/}

  	#simulateur-achylles .vs_mob td::before{content:attr(data-headers);display:table-cell;width:40%;vertical-align:middle;border-right: solid 1px #fff;border-bottom: solid 1px #fff;}

	/*#simulateur-achylles .vs_mob tr:nth-child(odd) td{border-bottom:solid 1px #f1f2f7}
	#simulateur-achylles .vs_mob tr:nth-child(even) td{border-bottom:solid 1px #f1f2f7}	
	#simulateur-achylles .vs_mob tr:nth-child(odd) td:before{border-right:solid 1px #f1f2f7;border-bottom: solid 1px #f1f2f7;}
	#simulateur-achylles .vs_mob tr:nth-child(even) td:before{border-right:solid 1px #fff;border-bottom: solid 1px #fff;}	*/

	#simulateur-achylles .vs_mob td div.tab_cell{color:#46464f;font-weight:normal;padding:0.8rem;display:table-cell;vertical-align:middle;border-bottom: 1px solid #FFF;}
	#simulateur-achylles .tab_mens tr:nth-child(2n+1) div.tab_cell{border-bottom: 1px solid #f1f2f7;}
	
	#simulateur-achylles .tab_mens td{border-bottom: solid .1rem #fff;}

	#simulateur-achylles .tab_mens tr:nth-child(2n+1) td::before {border-right: solid 1px #f1f2f7;border-bottom: solid 1px #f1f2f7;}
	#simulateur-achylles .tab_mens tr:nth-child(2n+1) td,#simulateur-achylles .vs_mob tr:nth-child(2n+1) td {border-bottom: solid 1px #f1f2f7;}
	
	#simulateur-achylles .tab_mens .td_annee:nth-child(2),#simulateur-achylles .tab_mens .td_annee:nth-child(1) {font-weight: initial;}
	
	#simulateur-achylles .tab_mens .txt_back{color:#000}
	#simulateur-achylles .tab_mens{border:none;}

		
	#simulateur-achylles table.tab_mob, table.tab_mob tbody{display:block}

	#simulateur-achylles table.tab_mob tr{display:table;width:100%;padding:0.6rem 0}
	#simulateur-achylles table.tab_mob tbody{border-top:1px solid #f1f2f7}
  	#simulateur-achylles table.tab_mob thead{display:none}

  	#simulateur-achylles table.tab_mob td{display:table-row;text-align:center;vertical-align:middle;font-size:14px;color:#00afdc;padding:0;border-bottom:solid 1px #fff}

  	#simulateur-achylles .tab_mob tr:nth-child(odd) td:before{border-color:#fff}

  	#simulateur-achylles table.tab_mob .tr_annee td::before{content:attr(data-headers);display:table-cell;width:40%;vertical-align:middle;}
	#simulateur-achylles table.tab_mob .tr_mois td::before{content:attr(data-headers);display:table-cell;width:40%;vertical-align:middle;}
	
	#simulateur-achylles table.tab_mob td.td_mois{height:40px}
	
	#simulateur-achylles .tab_mob tr:nth-child(odd) td{border-bottom:solid 1px #f1f2f7}
	#simulateur-achylles .tab_mob tr:nth-child(even) td{border-bottom:solid 1px #f1f2f7}	
	#simulateur-achylles .tab_mob tr:nth-child(odd) td:before{border-right:solid 1px #f1f2f7;border-bottom: solid 1px #f1f2f7;}
	#simulateur-achylles .tab_mob tr:nth-child(even) td:before{border-right:solid 1px #f1f2f7;border-bottom: solid 1px #f1f2f7;}	
	#simulateur-achylles table.tab_mob .detail_mensuel tr td:first-child{background-color:#f1f2f7;text-align:left}	
	#simulateur-achylles table.tab_mob td div.tab_cell{color:#46464f;font-weight:normal;padding:0.8rem;display:table-cell;vertical-align:middle}
	
	#simulateur-achylles .form_env_simul .libelle2{display: block;margin: 6px 0;width:100%}
	#simulateur-achylles label.e_mail_env_sim{width:100%}
    #simulateur-achylles .selectbox::before {-webkit-transform-origin: 20px; -webkit-transform: rotate(90deg);transform: rotate(90deg);position: absolute;right:0;width: 40px;height: 40px;font-size: 18px;padding: 0;text-align: center;line-height: 38px;}
    #simulateur-achylles .selectbox.select_credit::before {line-height: 39px;height: 39px;}
	
}
	
@media only screen and (max-width:480px) {
	
	#simulateur-achylles{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding:9px;}
	
	#simulateur-achylles label.select_nb{width:100%}
	#simulateur-achylles h1{font-size:22px}

	#simulateur-achylles .intro_txt{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
	#simulateur-achylles .footer_txt{-webkit-box-flex: 1;-ms-flex: 1;flex: 1;-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3;}
	/*#simulateur-achylles .vue_graphique{width:280px;}*/
	
	#simulateur-achylles .vue_donut{width:280px}
	#simulateur-achylles .resultat h2 .result_h2{font-size:16px}
	#simulateur-achylles .resultat h2 .result_mensualite{font-size:35px}
	
	#simulateur-achylles .aff_reponse_all{padding:20px 10px;}
	#simulateur-achylles label.date{width:70px}
	#simulateur-achylles .tabl_generique tbody tr:nth-child(n+1) td:nth-child(1){padding:0 0 0 10px}
	#simulateur-achylles .separateur_s{margin: 10px 0}
	#simulateur-achylles table.cap_achat{width:100%}
}

@media only screen and (max-width:320px) {
    #simulateur-achylles .footer .btp .btp_orange{font-size: 12px;padding:15px 0;}
    #simulateur-achylles .form_on { -webkit-box-shadow: none;box-shadow:none;padding:0;}
}